*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form a{
    text-decoration: none;
    background-color: #323232;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid blue;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: 1s;
}
form a:hover{
    background-color:brown;
    color: red;
}
.navbar{
    background-color: white;
}
.collapse .navbar-nav .nav-item .nav-link{
    color: #fff;
    padding-left: 20px;
    transition: 1s;
}

.collapse .navbar-nav .nav-item .nav-link:hover{
    text-decoration: underline;
}

.navbar-toggler{
    border: 0;
    outline: 0;
}
.navbar-toggler span{
    color: black;
}
.navbar-toggler:focus{
    box-shadow: none;
    border: 0;
    outline: 0;
}
body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  div {
    display: grid;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="add"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .dash{
      width: 900px;
      border: 1px solid black;
      
  }
  









